.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.io/tools/icons/?icon=person_add&style=baseline');
    background-size: cover;
  }